body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.square {
  border: 2px solid black;
  height: 200px;
  width: 200px;
}